/* Navbar styling */

.miniPicture {
  border-radius: 50%;
}
.name {
  font-weight: bolder;
  color: rgb(98, 77, 89) !important;
}

nav {
  background-color: rgb(227, 188, 210);
}
.links {
  color: rgb(98, 77, 89);
  font-weight: bolder;
}
.links:hover {
  color: rgb(51, 40, 46);
}
/* Hero styling */

.myhero {
  margin-top: 10%;
  background-image: url(../Images/mybigheroo.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.keeper {
  display: flex;
  justify-content: flex-end;
}

.lead {
  color: rgb(98, 77, 89);
  background-color: white;
  font-weight: bold;
}
.myhero .keeper .coolsub {
  font-weight: bold;
}
/* work section styling */

body {
  background-color: #d9ccd2 !important;
}

.firstProject {
  background-image: url(../Images/MyBusinessCard.png);
  background-size: cover;
  background-position: 50%;
  height: 300px;
}
.secondProject {
  background-image: url(../Images/screen1.png);
  background-size: cover;
  height: 200px;
}
.thirdProject {
  background-image: url(../Images/screenshot.png);
  background-size: cover;
  height: 200px;
}
.fourthProject {
  background-image: url(../Images/02-portfolio-2.jpg);
  background-size: cover;
  height: 200px;
}
.fivthProject {
  background-image: url(../Images/02-portfolio-1.jpg);
  background-size: cover;
  height: 200px;
}
.col-sm-6 {
  padding: 5px;
}
.card-body .btn-primary {
  background-color: rgb(211, 173, 194);
  border: none;
  color: rgb(98, 77, 89);
  font-weight: bold;
}
.card-body .btn-primary:hover {
  background-color: rgb(157, 131, 145);
}
/* About me Section Style */
.aboutContent .row {
  background-color: #d9ccd2;
  border-style: dotted;
  border-color: rgb(73, 59, 66);
}

.myimg {
  border-radius: 100px;
}
.card-body .card-title,
.card-text {
  color: rgb(98, 77, 89);
  font-size: larger;
}
/* Skills Section Style */
.media-body .skill {
  color: rgb(98, 77, 89);
  font-size: larger;
}
.media-body ul {
  color: rgb(98, 77, 89);
}
/* Contact Section */
.footer .contactMe .btn-primary {
  background-color: rgb(211, 173, 194);
  border: none;
  color: rgb(98, 77, 89);
  font-weight: bold;
}
.btn-primary {
  margin: 4px;
}
.footer .contactMe .btn-primary:hover {
  background-color: rgb(157, 131, 145);
}
.footer h6 {
  color: rgb(98, 77, 89);
  font-weight: bold;
  text-align: center;
  border-top: dotted rgb(98, 77, 89);
  padding-top: 4px;
}
/* media query for hero subtitle on small screens */

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .keeper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
  }
  .myhero .keeper .coolsub {
    font-weight: lighter;
  }
}
